streamlit
python-dotenv
google-cloud-aiplatform
pytube
openai
pandas
altair
tiktoken
loguru
langchain
langchain-community
streamlit-aggrid
beautifulsoup4
unstructured
networkx
openpyxl
sentence_transformers
faiss-cpu